* {
    box-sizing: border-box;
}

.container {
    background-color: ghostwhite;
    font-size: 20px;
    text-align: center;
}

.example1 {
    /* Özellik (Property) */
    text-transform: lowercase;
}

.example2 {
    /* Özellik (Property) */
    text-transform: uppercase;
}

.example3 {
    /* Özellik (Property) */
    text-transform: capitalize;
}

.example4 {
    /* Özellik (Property) */
    text-transform: none;
}

.example5 {
    /* Özellik (Property) */
    text-transform: inherit;
}

.example6 {
    /* Özellik (Property) */
    text-transform: capitalize;
}

.example7 {
    /* Özellik (Property) */
    text-transform: capitalize;
}