* {
    box-sizing: border-box;
}

.container {
    background-color: ghostwhite;
    font-size: 20px;
    text-align: center;
}

.example1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.example2 {
    background-color: chocolate;

    /* Özellik (Property) */
    width: 800px;
}

.example3 {
    background-color: cyan;

    /* Özellik (Property) */
    width: 20em;
}

.example4 {
    background-color: lightgreen;

    /* Özellik (Property) */
    width: 80ch;
}

.example5 {
    background-color: mediumaquamarine;

    /* Özellik (Property) */
    width: 40cm;
}

.example6 {
    background-color: moccasin;

    /* Özellik (Property) */
    width: 50vw;
}

.example7 {
    background-color: yellow;

    /* Özellik (Property) */
    width: 40rem;
}

.example8 {
    background-color: plum;

    /* Özellik (Property) */
    width: 100%;
}

.example9 {
    background-color: tomato; 
}

.example10 {
    background-color: skyblue;

    /* Özellik (Property) */
    width: 400px;
}

.example11 {
    background-color: tomato;

    /* Özellik (Property) */
    width: 800px;
}

.example12 {
    background-color: skyblue;
    
    /* Özellik (Property) */
    width: 800px;
}

.example13 {
    background-color: tomato;

    /* Özellik (Property) */
    width: 800px;
}

.example14 {
    background-color: skyblue;
    
    /* Özellik (Property) */
    width: 900px;
}

.example15 {
    background-color: tomato;
    margin-bottom: 1em;

    /* Özellik (Property) */
    width: 800px;
    overflow: hidden;
}

.example16 {
    background-color: skyblue;
    
    /* Özellik (Property) */
    width: 900px;
}

.example17 {
    background-color: tomato;
    margin-bottom: 1em;

    /* Özellik (Property) */
    width: 800px;
    overflow: scroll;
}

.example18 {
    background-color: skyblue;
    
    /* Özellik (Property) */
    width: 1000px;
}

.example19 {
    background-color: tomato;

    /* Özellik (Property) */
    width: 800px;
    overflow: auto;
}

.example20 {
    background-color: skyblue;
    
    /* Özellik (Property) */
    width: 1000px;
}

.example21 {
    background-color: tomato;

    /* Özellik (Property) */
    width: 800px;
}

.example22 {
    background-color: skyblue;
    
    /* Özellik (Property) */
    width: auto;
}

.example23 {
    background-color: tomato;

    /* Özellik (Property) */
    width: 800px;
}

.example24 {
    background-color: skyblue;
    
    /* Özellik (Property) */
    width: 95%;
}