* {
    box-sizing: border-box;
}

.container {
    background-color: ghostwhite;
    font-size: 20px;
    text-align: center;
}

.example-font {
    font-family: 'Open Sans', sans-serif;
}

.example1 {
    /* Özellik (Property) */
    font-weight: normal;
}

.example2 {
    /* Özellik (Property) */
    font-weight: bold;
}

.example3 {
    border: solid 3px;
    margin: auto;
    padding: 3px;
    width: 30%;

    /* Özellik (Property) */
    font-weight: normal;
}

.example4 {
    border: solid 3px;

    /* Özellik (Property) */
    font-weight: bolder;
}

.example5 {
    border: solid 3px;
    margin: auto;
    padding: 3px;
    width: 30%;

    /* Özellik (Property) */
    font-weight: bold;
}

.example6 {
    border: solid 3px;

    /* Özellik (Property) */
    font-weight: lighter;
}

.example7 {
    /* Özellik (Property) */
    font-weight: 100;
}

.example8 {
    /* Özellik (Property) */
    font-weight: 200;
}

.example9 {
    /* Özellik (Property) */
    font-weight: 300;
}

.example10 {
    /* Özellik (Property) */
    font-weight: 400;
}

.example11 {
    /* Özellik (Property) */
    font-weight: 500;
}

.example12 {
    /* Özellik (Property) */
    font-weight: 600;
}

.example13 {
    /* Özellik (Property) */
    font-weight: 700;
}

.example14 {
    /* Özellik (Property) */
    font-weight: 800;
}

.example15 {
    /* Özellik (Property) */
    font-weight: 900;
}

.example16 {
    /* Özellik (Property) */
    font-weight: 400;
}

.example17 {
    /* Özellik (Property) */
    font-weight: normal;
}

.example18 {
    /* Özellik (Property) */
    font-weight: 700;
}

.example19 {
    /* Özellik (Property) */
    font-weight: bold;
}