body {
    text-align: center;
}

.description {
    font-size: larger;
}

.example1 {
    font-size: large;

    /* Özellik (Property) */
    color: red;
}

.example2 {
    font-size: large;

    /* Özellik (Property) */
    color: #00FFFF;
}

.example3 {
    font-size: large;

    /* Özellik (Property) */
    color: rgb(80, 200, 100);
}

.example4 {
    font-size: large;

    /* Özellik (Property) */
    color: rgba(200, 34, 206, 0.7);
}

.example5 {
    font-size: large;

    /* Özellik (Property) */
    color: hsl(54, 68%, 43%);
}

.example6 {
    font-size: large;

    /* Özellik (Property) */
    color: hsla(54, 68%, 43%, .52);
}