* {
    box-sizing: border-box;
}

.container {
    background-color: ghostwhite;
    font-size: 20px;
    text-align: center;
}

html {
    font-size: 20px;
}

.example1 {
    /* Özellik (Property) */
    font-size: xx-small;
}

.example2 {
    /* Özellik (Property) */
    font-size: x-small;
}

.example3 {
    /* Özellik (Property) */
    font-size: small;
}

.example4 {
    /* Özellik (Property) */
    font-size: medium;
}

.example5 {
    /* Özellik (Property) */
    font-size: large;
}

.example6 {
    /* Özellik (Property) */
    font-size: x-large;
}

.example7 {
    /* Özellik (Property) */
    font-size: xx-large;
}

.example8 {
    border: solid 3px;
    margin: auto;
    padding: 3px;
    width: 30%;

    /* Özellik (Property) */
    font-size: small;
}

.example9 {
    border: solid 3px;

    /* Özellik (Property) */
    font-size: larger;
}

.example10 {
    border: solid 3px;
    margin: auto;
    padding: 3px;
    width: 30%;

    /* Özellik (Property) */
    font-size: medium;
}

.example11 {
    border: solid 3px;

    /* Özellik (Property) */
    font-size: smaller;
}

.example12 {
    border: solid 3px;
    margin: auto;
    padding: 3px;
    width: 30%;

    /* Özellik (Property) */
    font-size: 24px;
}

.example13 {
    border: solid 3px;

    /* Özellik (Property) */
    font-size: 130%;
}

.example14 {
    border: solid 3px;
    margin: auto;
    padding: 3px;
    width: 70%;

    /* Özellik (Property) */
    font-size: 12px;
}

.example15 {
    border: solid 3px;
    padding: 3px;

    /* Özellik (Property) */
    font-size: 2em;
}

.example16 {
    border: solid 3px;
    padding: 3px;

    /* Özellik (Property) */
    font-size: 2em;
}

.example17 {
    border: solid 3px;
    margin: auto;
    padding: 3px;
    width: 50%;

    /* Özellik (Property) */
    font-size: 48px;
}

.example18 {
    border: solid 3px;

    /* Özellik (Property) */
    font-size: 1rem;
}