* {
    box-sizing: border-box;
}

.container {
    background-color: ghostwhite;
    font-size: 20px;
    text-align: center;
}

.example1 {
    /* Özellik (Property) */
    background-color: chartreuse;
}

.example2 {
    /* Özellik (Property) */
    background-color: yellow;
}

.example3 {
    /* Özellik (Property) */
    background-color: rebeccapurple;
}